<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.llapp.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.llapp.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.llapp.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.llapp.app.modules.onboardingseven.ui.OnboardingSevenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.llapp.app.modules.signup.ui.SignupActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.llapp.app.modules.whatisyourmotherlanguage.ui.WhatIsYourMotherLanguageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.llapp.app.modules.signupone.ui.SignupOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.llapp.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.llapp.app.modules.onboardingsix.ui.OnboardingSixActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.llapp.app.modules.onboardingfive.ui.OnboardingFiveActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
